@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Slick Carousel CSS */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Global Styles */
* {
  font-family: 'Montserrat', sans-serif;
}

/* Styling for Slick Carousel navigation buttons */
.slick-prev,
.slick-next {
  background-color: black !important; /* Ensures the background is black */
  border-radius: 50%; /* Circular buttons */
  color: white !important; /* Ensures the icons are white */
  opacity: 1 !important; /* Ensures opacity is not reduced */
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.slick-slide > div {
    margin: 50px 40px;
  }
.slick-prev:before,
.slick-next:before {
  color: white; /* Ensures the icon is white */
  font-size: 16px; /* Ensures the icon size is consistent */
}

/* Additional Slick Carousel styling (if needed) */
.slick-prev {
  left: -40px; /* Adjust position of the left arrow */
}

.slick-next {
  right: -40px; /* Adjust position of the right arrow */
}
